
*.cache
*.json
OOPEksamen/FClubUnitTests/obj/FClubUnitTests.csproj.nuget.g.targets
OOPEksamen/FClubUnitTests/obj/FClubUnitTests.csproj.nuget.g.props
OOPEksamen/FClubUnitTests/obj/Debug/netcoreapp3.1/FClubUnitTests.assets.cache
OOPEksamen/FClubUnitTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.cache
OOPEksamen/.vs/EksamenOpgaveOOP/DesignTimeBuild/.dtbcache.v2
OOPEksamen/.vs/EksamenOpgaveOOP/v16/.suo
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.assets.cache
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.csproj.FileListAbsolute.txt
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.csprojAssemblyReference.cache
OOPEksamen/EksamenOpgaveOOP/obj/project.nuget.cache
OOPEksamen/FClubUnitTests/obj/Debug/netcoreapp3.1/FClubUnitTests.assets.cache
OOPEksamen/EksamenOpgaveOOP/obj/project.nuget.cache
OOPEksamen/EksamenOpgaveOOP/obj/project.assets.json
OOPEksamen/EksamenOpgaveOOP/obj/EksamenOpgaveOOP.csproj.nuget.dgspec.json
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.csprojAssemblyReference.cache
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.csproj.FileListAbsolute.txt
OOPEksamen/EksamenOpgaveOOP/obj/Debug/netcoreapp3.1/EksamenOpgaveOOP.assets.cache
*.cache
